[advice]
  detachedHead = false
[alias]
  alias = !"git config -l | grep alias | sed 's/alias.//' | grep -v alias | sed 's/=/❌/' | column -s ❌ -x -t"
  branches = branch -avv
  can = commit --gpg-sign --amend --no-edit
  clean-local-branches = !"for branch in $(git branch | grep -v develop | grep -v "^*"); do git branch -D $branch; done"
  conf = config -l
  conf-edit = config --global -e
  conf-global = config --global -l
  conf-local = config --local -l
  findbug = !"git log --grep=^$1: -"
  fixgpg = !"gpgconf --kill gpg-agent"
  l = log -10 --stat
  last = log -1 --stat
  lg = log -50 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
  p = pull --all -p
  pt = push origin --tags
  release = !"git name-rev --tags --name-only $(git log --grep ^$1: --pretty=\"format:%H\n\") -"
  remotes = remote -v
  rpo = remote prune origin
  s = status -sb
  save = !"git wip && git unwip"
  search = !"git rev-list --all | xargs git grep -F"
  sl = !"git show $(git log -1 --pretty=format:%H)"
  sls = !"git show stash@{0}"
  stashes = stash list
  sync = sync-repo
  tag-delete = !"TAG=$1 && git push --delete origin $TAG && git tag -d $TAG"
  tags = tag -l --sort=-v:refname
  unstage = reset HEAD --
  unwip = !"git log -n 1 | grep -q -c -i wip && git reset HEAD~1"
  wip = !"git add -A && git commit --gpg-sign -m wip && git push -f"
[branch]
  sort = -committerdate
[color]
  ui = true
[commit]
  gpgsign = true
[core]
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore_global
  filemode = false
	pager = cat
  trustctime = false
[credential]
  helper = cache --timeout=604800
[diff]
  submodule = log
  context = 8
  algorithm = histogram
  tool = difftastic
  colorMoved = default
  colorMovedWS = allow-indentation-change
[fetch]
  prune = true
  prunetags = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[gist]
  private = yes
[gpg]
  program = gpg
[help]
  autocorrect = prompt
[init]
  defaultbranch = main
[log]
  date = iso
[merge]
  conflictstyle = zdiff3
[mergetool]
  keepbackups = false
  keeptemporaries = false
  prompt = false
  trustexitcode = false
[pager]
	diff = cat
	show = cat
[pull]
  rebase = true
[push]
  default = current
  autosetupremote = true
  followtags = true
[rebase]
  autosquash = true
  autostash = true
  updateRefs = true
[rerere]
  enabled = true
[status]
  submoduleSummary = true
[submodule]
  recurse = true
[tag]
  gpgSign = true
  sort = taggerdate
[user]
  name = Stéphane FEUGA OSHIMA
  email = sfeuga@member.fsf.org
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
  line-numbers = true

