[advice]
  detachedHead = false
[alias]
  alias = !"git config -l | grep alias | sed 's/alias.//' | sed 's/=/\t=> /'"
  branches = branch -a
  can = commit --gpg-sign --amend --no-edit
  clean-local-branches = !"for branch in $(git branch | grep -v main | grep -v "^*"); do git branch -D $branch; done"
  conf = config -l
  conf-global = config --global -l
  conf-local = config --local -l
  finDbug = !"git log --grep=^$1: -"
  force-can = !"git gpg && git commit --gpg-sign --amend --no-edit"
  force-commit = !"git gpg && git commit --gpg-sign"
  force-save = !"git fwip && git unwip"
  force-wip = !"git add -u && git gpg && git commit --gpg-sign -m "wip" && git push -f"
  gpg = !"gpgconf --kill gpg-agent"
  l = log -5 --stat
  last = log -1 --stat
  lg = log -20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
  p = pull --all -p
  release = !"git name-rev --tags --name-only $(git log --grep ^$1: --pretty=\"format:%H\n\") -"
  remotes = remote -v
  rpo = remote prune origin
  s = status -sb
  save = !"git wip && git unwip"
  search = !"git rev-list --all | xargs git grep -F"
  sl = !"git show $(git log -1 --pretty=format:%H)"
  sls = !"git show stash@{0}"
  stashes = stash list
  sync = sync-repo
  tag-delete = push --delete origin $1 && git tag -d $1
  tags = tag -l
  unstage = reset HEAD --
  unwip = !"git log -n 1 | grep -q -c -i wip && git reset HEAD~1"
  wip = !"git add -u && git commit --gpg-sign -m wip && git push -f"
[color]
  ui = true
[commit]
  gpgsign = true
[core]
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore_global
  filemode = false
  pager = bat
  trustctime = false
[credential]
  helper = cache --timeout=604800
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[gist]
  private = yes
[gpg]
  program = gpg
[help]
  autocorrect = 1
[init]
  defaultbranch = main
[mergetool]
  keepbackups = false
  keeptemporaries = false
  prompt = false
  trustexitcode = false
[pager]
  diff = bat -l diff --style='changes,grid'
  show = bat -l diff --style='changes,grid'
[pull]
  rebase = true
[push]
  default = current
[user]
  name = Stéphane FEUGA OSHIMA
